<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차트</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script th:src="@{/js/sh_js/sh_chart.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sh_css/sh_chart.css}">
</head>

<body>
    <main>
        <div class="mainContainer">
            <div class="chartBox chartFires">
                <canvas id="chartFires"></canvas>
            </div>
            <div class="chartBox chartCause">
                <div class="chartCanvas">
                    <canvas id="chartCause"></canvas>
                </div>
                <div id="labelCause"></div>
            </div>
            <div class="chartBox chartInjuries">
                <canvas id="chartInjuries"></canvas>
            </div>
            <div class="chartBox chartDamage">
                <canvas id="chartDamage"></canvas>
            </div>
        </div>
    </main>
</body>

</html>