<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Information</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/sh_js/sh_fireInfo.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sh_css/sh_fireInfo.css}">
</head>
<body>
    <main>
        <div class="mainContainer">
            <div class="fireInfoContainer">
                <div class="fireInfo"></div>
                <div class="fireCasualty"></div>
                <div class="fireDamage"></div>
            </div>
        </div>
    </main>
</body>
</html>