<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- headScripts.html 파일 삽입 -->
    <!-- <div th:replace="sh_html/fragments/headScripts :: headScripts"></div> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>지도</title>
</head>

<body>
<main>
    <div class="mainContainer">
        <div class="vworldMap">
            
        </div>
    </div>
</main>
</body>

</html>