*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ASprocessStatus_container{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.registProcessStatus_main_container {
	flex: 1;
	display: flex;
	padding: 20px;
	justify-content: center;
}

.registProcessStatus_box {
	width: 100%;
	max-width: 1000px;
	text-align: center;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
	padding: 20px 30px;
	margin: 0 auto;
}
h1 {
	color: #333;
	margin-bottom: 20px;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
}
th, td {
	padding: 10px;
	border: 1px solid #ddd;
}
th {
	background-color: #f2f2f2;
	font-weight: bold;
}
tr:nth-child(even) {
	background-color: #f9f9f9;
}
tr:hover {
	background-color: #f5f5f5;
}

.process-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.process-btn:hover{
	background-color: var(--button-hover-color);
}
/* 모달 박스 스타일 */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	display: none;
	align-items: center;
	justify-content: center;
}
.modal-box {
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	width: 500px;
	max-width: 95%;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
.modal-box h2 {
	margin-top: 0;
}
.modal-close-btn {
	margin-top: 20px;
}
#displayRequestId, #displayRequestName{
	font-size: 20px;
    font-weight: bold;
    color: #881824;
}