*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boardIndex_container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fdfdfe;
    color: #333333;
    overflow: hidden; /* 전체 컨테이너는 스크롤을 막음 */
}

/* 메인 콘텐츠 */
#boardIndex_mp_container {
    flex:1;
    display: flex;
    overflow-y: auto; /* 세로 스크롤 추가 */
    min-height: 0; /* 중요한 설정: Flexbox 컨텍스트에서 자식 요소의 크기 제한 */
    padding: 40px 20px;
    justify-content: center;  /* 가로로 가운데 정렬 */
    align-items: center;      /* 세로로 가운데 정렬 */
    /* height: 100vh;            화면 전체 높이를 사용 */
}

#boardIndex_mp_subContainer{
    flex:1;
    align-content: center;
}
