        /* 푸터 스타일 */
        #dashboardFooter {
            background: linear-gradient(to top, #FFD700, #FFA500); /* 노란색 → 주황색 */
            height:3.5rem;
            color: #000000;
            text-align: center;
            padding: 15px;
            font-size: 0.9em;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
            /* margin-left: 60px; */
        }