:root {
    --widget-bg: #fff;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --primary-color: #81C784;
    --secondary-color: #333;
    --color-dashboard-main: #212121;
    --text-color: #f1f1f1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body와 canvas 스타일 추가 */
body {
    margin: 0;
    overflow: hidden;
    /* width: 100vw; */
    /* height: 100vh; */
}

.dashboard_container {
    background-color: var(--color-dashboard-main);
    color: var(--text-color);
}

canvas {
    display: block;
    /* 캔버스를 화면에 꽉 채움 */
}

.dashboard_container {
    position: relative;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: calc(100vh); */
    /* overflow: hidden; */
    margin: auto;
}

.dashboard_sub_container {
    background-color: var(--color-dashboard-main);
    width: 100%;
    height: 100%;
    padding: 20px;
}

#first_page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(8, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    /* grid-template-rows: auto; */
    grid-gap: 20px;
    /* animation: fadeIn 1s ease-in-out; */
    /* transition: transform 0.6s ease-in-out, opacity 0.3s ease; */
    /* opacity: 1; */
    overflow: hidden;
    padding: 1rem;
    margin: 0 auto;
}

.widget {
    width: 100%;
    /* 그리드 셀에 맞게 확장 */
    min-width: 0;
    /* 기본 최소 크기 제한 해제 */
    overflow: hidden;
    /* 콘텐츠 넘침 방지 */
}

.chartFires {
    grid-column: 3;
}

.chartCause {
    grid-column: 4;
}

.chartInjuries {
    grid-column: 3;
    grid-row: 2;
}

.chartDamage {
    grid-column: 4;
    grid-row: 2;
}

.vworldmainContainer{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-color: #fefefe;
    border-radius: 15px;
    padding: 20px;
}

#second_page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: hidden;
    padding: 1rem;
    margin: 0 auto;
}

#second_page h2, #third_page h2{
    text-align: center;
    margin: 0px;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    /* 화면 전환 효과 */
}

/* 화면 휠스크롤 이동 기능 */
#first_page {
    transform: translateY(0);
    /* 첫 번째 페이지는 초기 상태 */
    background-color: #fdfdfe;
    color: #000000;
}

#second_page {
    transform: translateY(0);
    /* 두 번째 페이지는 아래로 이동 */
    background-color: #fdfdfe;
    color: #000000;
    height: 100vh;
}

#third_page {
    transform: translateY(0);
    /* 두 번째 페이지는 아래로 이동 */
    background-color: #fdfdfe;
    color: #000000;
    height: 100vh;
    padding: 1rem;
}

#fourth_page {
    transform: translateY(0);
    /* 두 번째 페이지는 아래로 이동 */
    background-color: #f1f1f1;
    color: #333;
    height: 100vh;
}