        /* 푸터 스타일 */
        footer {
            background-color: #001f3f; /* 남색 */
            color: #ffffff;
            text-align: center;
            padding: 15px;
            font-size: 0.9em;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        }