/* 헤더 스타일 */
header {
    background-color: #f5f6f7;
    /* 남색 */
    color: #000000;
    height: 80px;
    padding: 20px;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
}

.headerText {
    font-size: 1.8em;
}

#defaultHeader{
    display: grid;
    height:auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

#indexHeader{
    display: grid;
    height:auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

#boardHeader{
    display:grid;
    height: auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.headerText_container{
    grid-column: 1;
    font-size: 0.7em;
}

.header_link_container{
    grid-column: 2;
    text-align: center;
    align-content: center;
}

.headerboardIndex_container{
    grid-column: 3;
    text-align: right;
    align-content: center;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* 로그인 링크 스타일 */
.header_link_default {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFE000;
    color: #001f3f;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    gap:20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* 살짝 그림자 효과 */
}

.header_link_boardIndex, .header_link_memberModify{
    background-color: #FFE000;
    color: #001f3f;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    gap:20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* 살짝 그림자 효과 */
}

.header_link_default:hover,.header_link_boardIndex:hover, .header_link_memberModify:hover {
    background-color: #DAB800;
    /* color: #ffffff; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 */
}

.header_link_default:active,.header_link_boardIndex:active, .header_link_memberModify:active {
	background-color: #FFD700; /* 클릭 시 배경색 */
	box-shadow: none; /* 클릭 시 그림자 제거 */
}