<!DOCTYPE html>
<html lang="ko">

<head>
    <title>AS처리현황페이지</title>

    <head th:replace="common_headscript.html :: common_headscript"></head>
    
    <link rel="stylesheet" href="/css/ASprocessStatusBoard.css">
    <script src="/js/ASprocessStatusBoard.js" defer></script>

</head>

<body>
    <div id="ASprocessStatus_container">
        <div th:replace="header.html :: header"></div> <!-- Header 삽입 -->

        <div id="ASprocessStatus_sub_border_Container">
            <div id="ASprocessStatus_sub_Container">
                <div th:insert="sidebar.html :: sidebar"></div>
                <h1>A/S 처리현황</h1>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>접수번호</th>
                            <!-- rnum(DB접수번호) -->
                            <th>접수일자</th>
                            <!-- rdate(DB접수일자) -->
                            <th>고객명</th>
                            <!-- cname(DB고객명) -->
                            <th>처리현황</th>
                            <!-- 새 칼럼 processStatus -->
                            <th>완료 예정일시</th>
                            <!-- visitedateEnd(DB완료일자 시각) -->
                            <th>처리 버튼</th>
                        </tr>
                    </thead>
                    <tbody>
                        <c:forEach var="status" items="${statusList}">
                            <tr>
                                <td>${status.rnum}</td>
                                <td>${status.rdate}</td>
                                <td>${status.cname}</td>
                                <td>${status.processStatus}</td>
                                <!-- 새로운 칼럼 -->
                                <td>${status.visitdate_end}</td>
                                <td><button class="status">처리 버튼</button></td>
                            </tr>
                        </c:forEach>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="footer.html :: footer"></div> <!-- Footer 삽입 -->
    </div>
</body>

</html>