<header class="boardHeader_container" th:fragment="board_header">
    <!-- 게시판 상태 -->
    <div class="col-md-12" id="boardHeader">
        <div class="headerText_container">
            <span class="headerText"><i class="bi bi-house-fill"></i> 노후 시설 AS 신고 관리 시스템</span>
        </div>
        <div class="header_link_container">
            <a href="/managementPage/boardIndex" id="headerBoardIndexLink" class="header_link_boardIndex">게시판</a>
            <a href="/managementPage/fullCalendar" id="headerCalendarLink" class="header_link_boardIndex">AS 스케줄</a>
            <a href="/managementPage/registAS" id="headerAsRegistLink" class="header_link_boardIndex">AS 접수</a>
            <a href="/managementPage/ASprocessStatus" id="headerASprocessStatusLink" class="header_link_boardIndex">AS 현황</a>
        </div>
        <div class="headerboardIndex_container">
            <a th:if="${session.userId == null}" href="/login" class="header_link_boardIndex"><i class="bi bi-person-circle"></i></a>
            <a th:if="${session.userId == null}" href="/signup" class="header_link_boardIndex"><i class="bi bi-person-fill-add"></i></a>
            <a th:if="${session.userId != null}" href="/logout" class="header_link_boardIndex"><i class="bi bi-box-arrow-right"></i></a>
            <a th:if="${session.userId != null}" href="/memberModify" class="header_link_memberModify"><i class="bi bi-person-fill-gear"></i></a>
        </div>
    </div>
</header>