<div id="boardIndex_container">
    <div id="boardIndex_subContainer">
        <h1>board인덱스 페이지 입니다.</h1>
        <hr>
        <div class="mp_homeMenu">
            <a href="#" id="menuNoticeBoardLink">
                <div class="mp_menuBox menuRegist">
                    <i class="bi bi-info-square"></i><span>공지사항</span>
                </div>
            </a> <a href="#" id="menuQnaBoardLink">
                <div class="mp_menuBox menuCalendar">
                    <i class="bi bi-calendar-check"></i><span>QnA</span>
                </div>
        </div>
    </div>
</div>