<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'공지사항 - ' + ${board.title}">공지사항 수정</title>

    <head th:replace="common_headscript.html :: common_headscript"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boardUpdate.css}" />
</head>

<body>
    <div id="boardUpdate_container">
        <div th:replace="header.html :: header"></div> <!-- Header 삽입 -->

        <main id="boardUpdate_main_container">
            <div th:insert="sidebar.html :: sidebar"></div>
            <div class="boardUpdate">
                <h1>공지사항 수정</h1>
                <hr>
                <div class="update">
                    <form role="form" th:action="@{/managementPage/boardUpdate}" method="post">
                        <input type="hidden" name="bnum" th:value="${board.bnum}" />
                        <table>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <td colspan="5" th:text="${board.bnum}">1</td>
                                </tr>
                                <tr>
                                    <th>제목</th>
                                    <td colspan="5">
                                        <input class="form-control" type="text" name="title"
                                            th:value="${board.title}" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>작성자</th>
                                    <td>
                                        <input class="form-control" type="text" name="ename" th:value="${board.ename}"
                                            required />
                                    </td>
                                    <th>작성일</th>
                                    <td colspan="3" th:text="${#temporals.format(board.postdate, 'yyyy-MM-dd')}">
                                        2025-01-13</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="6">
                                        <textarea class="form-control" rows="3" name="content"
                                            th:text="${board.content}"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="updateButton">
                            <button type="submit">수정</button>
                            <button type="button" onclick="location.href='/managementPage/noticeBoard'">목록</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <div th:replace="footer.html :: footer"></div> <!-- Footer 삽입 -->
    </div>
</body>

</html>