<!DOCTYPE html>
<html lang="ko">

<head>
  <title>풍력 발전량 예측 모니터링</title>
  <div th:insert="dashboard_headscript.html :: dashboard_headscript"></div> <!-- main 삽입 -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
  <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>

<body>
  <div class="dashboard_container">
    <div class="widgetWrapper">
      <section class="widgetContainer active">
        <div class="widget windMapKakao">
          <h2>예상 발전량 지도</h2>
          <div id="kakaoMap"></div>

        </div>
        <div class="widget weatherForecast">
          <h2>날씨 예보<span class="widgetIndicator fcLocation"></span>
          </h2>
          <article class="widgetArticle">
            <div class="weatherContainer">
              <div class="weatherToday">
                <div class="weather-data">
                  <div class="weather-icon"></div>
                  <div class="weather-text">
                    <div class="weather-temp"></div>
                    <div class="weather-desc"></div>
                  </div>
                </div>
              </div>
              <div class="weatherWeek"></div>
              <div class="weatherFcTime"></div>
            </div>
          </article>
        </div>
        <div class="widget turbine-3d">
          <h2>3D 풍력 발전기</h2>
          <canvas id="renderCanvas"></canvas>
        </div>
        <div class="widget predictPower">
          <h2>모델별 예상 발전량</h2>
          <div class="gaugeChart"></div>
          <div class="gaugeXYChart"></div>
          <div class="modelList">
            <span class="model_item"><span class="model_xgboost">XBGoost Model</span><span
                class="xgboost_value">-</span></span>
            <span class="model_item"><span class="model_rf">RF Model</span><span class="rf_value">-</span></span>
            <span class="model_item"><span class="model_cstl">CSTL Model</span><span class="cstl_value">-</span></span>
          </div>
        </div>
      </section>
      <section class="widgetContainer slideRight">
        <div class="widget windMapVentusky">
          <h2>풍향 지도</h2>
          <article class="widgetArticle">
            <div class="ventuskyMapContainer">
              <div
                style="display:block!important;position:relative!important;max-width:101.979vh!important;margin:auto!important;padding:0!important;border:0!important">
                <div
                  style="display:block!important;position:relative!important;width:100%!important;height:0!important;box-sizing:content-box!important;margin:0!important;border:0!important;padding:0 0 98.06%!important;left:0!important;top:0!important;right:0!important;bottom:0!important">
                  <iframe src="https://embed.ventusky.com/?p=38.1;127.6;5&l=wind-10m"
                    style="display:block!important;position:absolute!important;left:0!important;top:0!important;width:100%!important;height:100%!important;margin:0!important;padding:0!important;border:0!important;right:auto!important;bottom:auto!important"
                    loading="lazy"></iframe>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="widget windPowerChart">
          <h2>의사결정 모델 발전량 차트</h2>
          <article class="widgetArticle">
            <div class="chartContainer">
              <canvas id="windPowerCanvas" class="windPowerCanvas"></canvas>
            </div>
          </article>
        </div>
        <div class="widget windPowerTimeSeriesChart">
          <h2>시계열 모델 발전량 차트</h2>
          <article class="widgetArticle">
            <div class="chartContainer">
              <canvas id="windPowerTimeSeriesCanvas" class="windPowerTimeSeriesCanvas"></canvas>
            </div>
          </article>
        </div>
      </section>
      <section class="widgetContainer rightOut slideHide">
        <div class="widget powerStation">
          <h2>발전원별 발전량</h2>
          <article class="widgetArticle">
            <canvas id="powerStationCanvas" class="doughnutChart"></canvas>
          </article>
        </div>
        <div class="widget copyright">
          <h2>Team Old</h2>
          <article class="widgetArticle">
            <div class="copyrightInfo">
              <p>본 프로젝트는 공공데이터를 활용하여 제작되었습니다.</p>
              <p>풍력 발전량 예측 모델은 머신러닝을 활용하여 제작되었습니다.</p>
              <p>모델은 XGBoost, Random Forest, CSTL 을 사용하였습니다.</p>
              <p>2019년 12월 1일부터 2024년 9월 30일까지의 데이터를 학습하였습니다.</p>
              <p>예측 모델의 R² Score는 약 0.43 입니다.</p>
              <p>Team Old</p>
            </div>
          </article>
        </div>
      </section>
    </div>
    <div class="widgetControl">
      <button id="prev-btn"><i class="prev-btn bi bi-chevron-left"></i></button>
      <button id="next-btn"><i class="next-btn bi bi-chevron-right"></i></button>
    </div>
  </div>

  <!-- <script src="{{ url_for('static', filename='js/turbine.js') }}"></script> -->
</body>

</html>