<!DOCTYPE html>
<html lang="ko">

<head>
  <title>전기재해 모니터링</title>
  <head th:replace="dashboard_headscript.html :: dashboard_headscript"></head> <!-- main 삽입 -->
</head>

<body>
  <div class="dashboard_container">
    <div class="dashboard_sub_container">
      <div class="first_page">
        <div class="widget windMapKakao">
          <h2>예상 발전량 지도</h2>
          <div id="kakaoMap"></div>

        </div>
        <div class="widget weatherForecast">
          <h2>날씨 예보<span class="widgetIndicator fcLocation"></span>
          </h2>
          <article class="widgetArticle">
            <div class="weatherContainer">
              <div class="weatherToday">
                <div class="weather-data">
                  <div class="weather-icon"></div>
                  <div class="weather-text">
                    <div class="weather-temp"></div>
                    <div class="weather-desc"></div>
                  </div>
                </div>
              </div>
              <div class="weatherWeek"></div>
              <div class="weatherFcTime"></div>
            </div>
          </article>
        </div>
        <div class="widget turbine-3d">
          <h2>3D 풍력 발전기</h2>
          <canvas id="renderCanvas"></canvas>
        </div>
        <div class="widget predictPower">
          <h2>모델별 예상 발전량</h2>
          <div class="gaugeChart"></div>
          <div class="gaugeXYChart"></div>
          <div class="modelList">
            <span class="model_item"><span class="model_xgboost">XBGoost Model</span><span
                class="xgboost_value">-</span></span>
            <span class="model_item"><span class="model_rf">RF Model</span><span class="rf_value">-</span></span>
            <span class="model_item"><span class="model_cstl">CSTL Model</span><span class="cstl_value">-</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="{{ url_for('static', filename='js/turbine.js') }}"></script> -->
</body>

</html>