<header class="header_container" th:fragment="header">
    <!-- 기본 상태 -->
    <div class="col-md-12" id="defaultHeader" style="display: grid;">
        <div id="headerText_containers">
            <span class="headerText">노후 시설 AS 신고 관리 시스템</span>
        </div>
        <div id="header_link_containers">
            <span></span>
        </div>
        <div id="headerboardIndex_containers">
            <a th:if="${session.userId == null}" href="/login" class="header_link_boardIndex">로그인</a>
            <a th:if="${session.userId == null}" href="/signup" class="header_link_boardIndex">회원가입</a>
            <a th:if="${session.userId != null}" href="/logout" class="header_link_boardIndex">로그아웃</a>
            <a th:if="${session.userId != null}" href="/memberModify" class="header_link_memberModify">MyPage</a>
        </div>
    </div>

    <!-- 게시판 상태 -->
    <div class="col-md-12" id="boardIndexHeader" style="display: none;">
        <div id="headerText_container">
            <span class="headerText">노후 시설 AS 신고 관리 시스템</span>
        </div>
        <div id="header_link_container">
            <a href="#" id="headerBoardIndexLink" class="header_link_boardIndex">게시판</a>
            <a href="#" id="headerCalendarLink" class="header_link_boardIndex">AS 스케줄</a>
            <a href="#" id="headerAsRegistLink" class="header_link_boardIndex">AS 접수</a>
            <a href="#" id="headerASprocessStatusLink" class="header_link_boardIndex">AS 현황</a>
        </div>
        <div id="headerboardIndex_container">
            <a th:if="${session.userId == null}" href="/login" class="header_link_boardIndex">로그인</a>
            <a th:if="${session.userId == null}" href="/signup" class="header_link_boardIndex">회원가입</a>
            <a th:if="${session.userId != null}" href="/logout" class="header_link_boardIndex">로그아웃</a>
            <a th:if="${session.userId != null}" href="/memberModify" class="header_link_memberModify">MyPage</a>
        </div>
    </div>
</header>