<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Document</title>

    <head th:replace="common_headscript.html :: common_headscript"></head>

    <link rel="stylesheet" href="css/index.css" />
    
</head>

<body>
    <div id="index_container">
        <!-- 헤더 -->
        <!-- <div th:replace="indexHeader.html :: index_header"></div> Header 삽입 -->

        <!-- 메인 컨텐츠 -->
        <div class="main">
            <div class="content">
                <a href="/dashboard" class="box">
                    <h2>전기 재해 모니터링</h2>
                </a>
                <a href="/managementPage" id="menuManagementPageLink" class="box">
                    <h2>노후 시설 AS 신고 관리 시스템</h2>
                </a>
            </div>
        </div>

        <!-- 푸터 -->
        <div th:replace="footer.html :: footer"></div> <!-- Footer 삽입 -->
    </div>
</body>

</html>