<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <script src="js/header.js" defer></script>
</head>

<body>
    <div id="index_container">
        <!-- 헤더 -->
        <div th:replace="header.html :: header"></div> <!-- Header 삽입 -->

        <!-- 메인 컨텐츠 -->
        <div class="main">
            <div class="content">
                <a href="/dashboard" class="box">
                    <h2>전기 재해 모니터링</h2>
                </a>
                <a href="/managementPage" class="box">
                    <h2>노후 시설 AS 신고 관리 시스템</h2>
                </a>
            </div>
        </div>

        <!-- 푸터 -->
        <div th:replace="footer.html :: footer"></div> <!-- Footer 삽입 -->
    </div>
</body>

</html>