<main id="mp_index_container" th:fragment="mp_main">
    <div class="mp_home">
        <h1>난방기사 AS 스케쥴 관리 서비스</h1>
        <hr>
        <div class="mp_homeMenu">
            <a href="#" id="menuBoardIndexLink">
                <div class="mp_menuBox menuRegist">
                    <i class="bi bi-info-square"></i><span>게시판</span>
                </div>
            </a> <a href="#" id="menuCalendarLink">
                <div class="mp_menuBox menuCalendar">
                    <i class="bi bi-calendar-check"></i><span>AS 스케줄</span>
                </div>
            </a> <a href="#" id="menuAsRegistLink">
                <div class="mp_menuBox menuRegist">
                    <i class="bi bi-file-earmark-plus"></i><span>AS 접수</span>
                </div>
            </a> </a> <a href="#" id="menuASprocessStatusLink">
                <div class="mp_menuBox menuRegist">
                    <i class="bi bi-file-earmark-bar-graph"></i><span>AS 현황</span>
                </div>
            </a>
        </div>
    </div>
</main>