<!DOCTYPE html>
<html lang="ko">

<head>
    <title th:text="'공지사항 - ' + ${board.title}">QnA</title>

    <head th:replace="common_headscript.html :: common_headscript"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/boardPost.css}" />
</head>

<body>
    <div id="post_container">
        <div th:replace="header.html :: header"></div> <!-- Header 삽입 -->

        <main id="post_main_container">
            <div class="boardPost">
                <div th:insert="sidebar.html :: sidebar"></div>
                <h1>QnA</h1>
                <hr>
                <div class="post">
                    <input type="hidden" name="bnum" th:value="${board.bnum}" />
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <td colspan="5" th:text="${board.bnum}">1</td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td colspan="5" th:text="${board.title}">Sample Title</td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td>
                                    <input class="form-control" type="text" name="ename" th:value="${board.ename}"
                                        required />
                                </td>
                                <th>작성일</th>
                                <td colspan="3" th:text="${#temporals.format(board.postdate, 'yyyy-MM-dd')}">2025-01-13
                                </td>
                                <th>조회수</th>
                                <td th:text="${board.visitcount}">0</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6" th:text="${board.content}">게시글 내용이 여기에 표시됩니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="postButton">
                    <button th:onclick="|location.href='/managementPage/qnaboardUpdate?bnum=' + ${board.bnum}|">수정</button>
                    <button th:onclick="|location.href='/managementPage/qnaBoard?page=' + ${page}|">목록</button>
                    <form th:action="@{/managementPage/qnaboardDelete}" method="post">
                        <input type="hidden" name="bnum" th:value="${board.bnum}">
                        <button type="submit">삭제</button>
                    </form>
                </div>
            </div>
        </main>

        <div th:replace="footer.html :: footer"></div> <!-- Footer 삽입 -->
    </div>
</body>

</html>