<!DOCTYPE html>
<html lang="ko">

<head>
    <title>난방기사 A/S 스케쥴 관리 서비스</title>

    <head th:replace="common_headscript.html :: common_headscript"></head>
    <link rel="stylesheet" href="/css/qnaBoard.css" />

</head>

<body>
    <div id="boardIndex_container">
        <div th:replace="header.html :: header"></div> <!-- Header 삽입 -->

        <main id="qnaBoard_container" th:fragment="qnaBoard_main">
            <div th:insert="sidebar.html :: sidebar"></div>
            <div class="boardList">
                <h1>QnA 게시판</h1>
                <hr>
                <div class="list">
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 게시글 목록 -->
                            <tr th:each="board : ${boardlist}">
                                <!-- Entity의 필드명에 따라 변경 -->
                                <td th:text="${board.bnum}"></td>
                                <td>
                                    <a th:href="@{/dy_post(bnum=${board.bnum})}" th:text="${board.title}"></a>
                                </td>
                                <td th:text="${board.ename}"></td>
                                <td th:text="${#temporals.format(board.postdate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${board.visitcount}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 페이징 네비게이션 -->
                <div class="listButton">
                    <button th:if="${currentPage > 1}"
                        th:onclick="'location.href=\'/dy_list?page=' + (${currentPage} - 1) + '\''">
                        이전
                    </button>
                    <button th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:onclick="'location.href=\'/dy_list?page=' + ${i} + '\''" th:text="${i}">
                    </button>
                    <button th:if="${currentPage < totalPages}"
                        th:onclick="'location.href=\'/dy_list?page=' + (${currentPage} + 1) + '\''">
                        다음
                    </button>
                </div>
                <div class="listTop">
                    <button onclick="location.href='/dy_register'">작성하기</button>
                </div>
            </div>
        </main>

        <div th:replace="footer.html :: footer"></div> <!-- Footer 삽입 -->
    </div>
</body>

</html>