<div class="sidebar" th:fragment="sidebar">
    <a href="/managementPage" class="sidebar_menu" data-hover="홈"><i class="bi bi-house-door"></i></a>
    <a href="/managementPage/boardIndex" class="sidebar_menu" data-hover="게시판"><i class="bi bi-info-square"></i></a>
    <a href="/managementPage/fullCalendar" class="sidebar_menu" data-hover="캘린더"><i class="bi bi-calendar-check"></i></a>
    <a href="/managementPage/registAS" class="sidebar_menu" data-hover="AS접수"><i class="bi bi-file-earmark-plus"></i></a>
    <a href="/managementPage/ASprocessStatus" class="sidebar_menu" data-hover="AS현황"><i class="bi bi-file-earmark-bar-graph"></i></a>
</div>