<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Calendar</title>
    <link rel="stylesheet" href="/css/dy_css/scheduleCalendar.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales/ko.global.js"></script>
    <script>
        var jsonData = /*[[${events}]]*/ []; // Thymeleaf를 통해 Controller에서 전달받은 데이터
    </script>
        <script src="/js/dy_calendar.js"></script> <!-- 외부 JS 파일 연결 -->
</head>
<body>
    <div id="dy_calendar"></div>
</body>
</html>