<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.PHG_AsReceptionDAO">

	<!-- 시설 A/S 접수 -->
	<insert id="AS_Reception" parameterType="com.example.demo.dto.PHG_AsReceptionDTO">
		INSERT INTO as_reception (
			userId,
			authorityId,
			name, 
			phoneNumber, 
			email, 
			postcode, 
			address, 
			detailAddress, 
			facilityType, 
			issueTitle, 
			issueDetails, 
			preferredDate, 
			preferredTime
		)
		SELECT 
			m.userId,
			m.authorityId,
			#{name}, 
			#{phoneNumber}, 
			#{email}, 
			#{postcode}, 
			#{address}, 
			#{detailAddress}, 
			#{facilityType}, 
			#{issueTitle}, 
			#{issueDetails}, 
			#{preferredDate}, 
			#{preferredTime}
		FROM member m
		WHERE m.userId = #{userId}
	</insert>
	
	<select id="AS_Status" parameterType="com.example.demo.dto.PHG_AsReceptionDTO" resultType="com.example.demo.dto.PHG_AsReceptionDTO">
		SELECT requestId, userId, authorityId, receptionDate, name, preferredDate, preferredTime, receptionStatus
		FROM as_reception
		<if test="authorityId != 1">
			WHERE userId = #{userId}
		</if>
	</select>
</mapper>