<!-- fragments/header.html -->
<header class="header" th:fragment="header">
    <div class="header_title">
        <a href="/">스케쥴 관리 프로그램</a>
    </div>
    <nav>
        <ul>
            <li><a href="/board/list" class="button-link">공지사항</a></li>
            <li><a href="/schedule/calendar" class="button-link">AS 스케쥴</a></li>
            <li><a href="/schedule/registAS" class="button-link">AS 접수</a></li>
            <li><a href="/schedule/processStatus" class="button-link">AS 현황</a></li>
        </ul>
    </nav>
</header>
