<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AS 접수하기</title>
    <!-- Head Requires // 헤더 공통 스크립트 -->
    <th:block th:replace="/PHG/RequestCode/headScript :: headScript"></th:block>

    <!-- Post Code Script // 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- Page Style & Script // 개별 페이지 스타일 및 스크립트 -->
    <link rel="stylesheet" type="text/css" href="/css/PHG_css/Request_css/registAS.css">
    <script type="text/javascript" src="/js/PHG/Request_JS/registAS.js"></script>
</head>
<body>
    <!-- Header -->
    <th:block th:replace="/PHG/RequestCode/header :: header"></th:block>

    <main>
        <div class="registAS">
            <h1>AS 접수하기</h1>
            <hr>
            <div class="register">
                <form action="/schedule/registProcess" method="post">
                    <table>
                        <caption>고객 정보 입력</caption>
                        <tbody>
                            <tr>
                                <th><label for="customerName">성명</label></th>
                                <td>
                                    <input type="text" name="cname" id="customerName" placeholder="성명" required>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="customerPhone1">전화번호</label></th>
                                <td>
                                    <select name="customerPhone1" id="customerPhone1" class="phone" required>
                                        <option value="010">010</option>
                                        <option value="011">011</option>
                                        <option value="016">016</option>
                                        <option value="017">017</option>
                                        <option value="018">018</option>
                                        <option value="019">019</option>
                                    </select>
                                    - 
                                    <input type="tel" name="customerPhone2" id="customerPhone2" class="phone" minlength="3" maxlength="4" placeholder="전화번호" required>
                                    - 
                                    <input type="tel" name="customerPhone3" id="customerPhone3" class="phone" minlength="4" maxlength="4" placeholder="전화번호" required>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="searchAddress">주 소</label></th>
                                <td class="customerAddress">
                                    <button type="button" id="searchAddress" class="searchAddress btn btn-danger float-left">주소검색</button>
                                    <div>
                                        <input type="text" name="addressPostcode" id="addressPostcode" class="address addressPostcode" placeholder="우편번호">
                                        <input type="text" name="addressRoad" id="addressRoad" class="address addressRoad" placeholder="도로명 주소" required>
                                        <input type="text" name="addressBname" id="addressBname" class="address addressBname" placeholder="동주소" required>
                                        <input type="text" name="addressDetails" id="addressDetails" class="addressDetails" placeholder="상세주소" required>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <caption>제품 및 증상 입력</caption>
                        <tbody>
                            <tr>
                                <th><label for="productType">제품 분류</label></th>
                                <td>
                                    <select name="category" id="productType" class="productType">
                                        <option value="gas">가스 보일러</option>
                                        <option value="oil">기름 보일러</option>
                                        <option value="other">그 외</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="productId">모델명</label></th>
                                <td>
                                    <input type="text" name="model" id="productId" class="productId" placeholder="모델명">
                                </td>
                            </tr>
                            <tr>
                                <th><label for="troubleType">고장 증상</label></th>
                                <td>
                                    <select name="issue" id="troubleType" class="troubleType">
                                        <option value="e101">전원 고장</option>
                                        <option value="e201">온수 고장</option>
                                        <option value="e301">그 외</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="troubleDetails">세부증상</label></th>
                                <td>
                                    <textarea name="detail" id="troubleDetails" rows="10" placeholder="세부증상"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <caption>희망 방문 일시</caption>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="calendar">
                                        <input type="date" name="visitdate" value="2024-12-13" required />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="calendarTime">
                                        <div class="time-buttons">
                                            <!-- 버튼 목록 -->
                                        </div>
                                        <input type="hidden" id="selectedTime" name="visittime" required>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <caption>AS 담당 기사 배정</caption>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="employee">
                                        <div class="employeeButton"></div>
                                        <input type="hidden" name="empno" id="selectedEmployee" class="selectedEmployee" required />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <caption>이용약관</caption>
                        <tbody>
                            <tr>
                                <th>개인정보 수집 이용</th>
                                <td>
                                    <input type="checkbox" name="pinformation" id="term" required>
                                    <label for="term">개인정보 수집 이용 및 제3자 제공 동의서</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class='d-flex justify-content-around'>
                        <button type="submit" class="btn btn-danger">AS 접수하기</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <th:block th:replace="/PHG/RequestCode/footer :: footer"></th:block>
</body>
</html>
